Source: conky-manager3
Section: utils
Priority: optional
Maintainer: Arkadiusz Felinczak <arek_felinczak@protonmail.com>
Build-Depends: debhelper-compat (= 13), meson, ninja-build, valac, libgtk-4-dev (>= 4.10), libgee-0.8-dev, libjson-glib-dev
Standards-Version: 4.5.0
Homepage: https://github.com/zcot/conky-manager3

Package: conky-manager3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, coreutils (>= 8.28), conky | conky-all | conky-std, p7zip-full, rsync, imagemagick
Description: Utility for managing Conky configuration files
 Conky Manager 3 is a utility to manage themes and configurations for
 Conky, a free, light-weight system monitor that displays
 information such as text, icons, progress bars and graph widgets on
 your desktop. Conky Manager 3 is a fork of the original Conky Manager
 by teejee2008 (Tony George), but provides support for the newer
 Lua-based configuration files of Conky version 1.10.
