[Desktop Entry]
Name=Conky Manager 3
Exec=conky-manager3
Type=Application
GenericName=Conky Theme Manager
Terminal=false
Icon=org.conkymanager3.ConkyManager
Comment=Manage Conky themes and widgets
Keywords=conky;widget;theme;monitor;desktop;system;
StartupWMClass=org.conkymanager3.ConkyManager
StartupNotify=true
Categories=Utility;
InitialPreference=9
Name[en_US]=Conky Manager 3
